<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
   <!-- db환경설정을 해주는 파일 읽어오는 설정
        classpath:경로지정해서 불러올 환경설정파일명
   -->
  <context-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>classpath:config/applicationContext.xml</param-value>
  </context-param>
  
  <listener>
     <listener-class>
      org.springframework.web.context.ContextLoaderListener
     </listener-class>
  </listener>
  
  <!-- 요청->web.xml (1.컨트롤러역할을 해주는 서블릿을 등록) -->
  <servlet>
     <servlet-name>Plz_Windows</servlet-name>
     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <!-- 2.어떻게 요청이 들어왔을때 처리할 수 있도록 설정(keyword등로) -->
  <servlet-mapping>
     <servlet-name>Plz_Windows</servlet-name>
     <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
    <!--한글처리 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  
  <!--적용대상(웹상)  -->
  <filter-mapping>
     <filter-name>encodingFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--  -->
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>




